.header-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.664)), url("netflix-header.jpg");
    height: 88vh;
}

.headerh {
    height: 60px !important;
}

.img-l {
    /* max-height: 35px !important; */
    height: 70%;
}

.logo-home {
    max-height: 30px !important;
}

.header-input {
    background-color: rgba(70, 65, 65, 0.153) !important;
    outline: #4b4949 !important;

    border-color: #4b4949;
}

.header-input::placeholder {
    color: white;
}

.header-input:focus {
    border-color: #4b4949;
}

.img-2 {
    height: 20px;
}

hr {
    height: 0.5rem;
    width: 100%;
    background-color: gray;
}

.feature1-video {
    width: 100%;
    height: 100%;
    max-width: 70%;
    max-height: 62%;
    left: 14.7% !important;
    top: 17.4% !important;
}

.card1 {
    height: 22% !important;
    width: 56% !important;
    border: 2px solid rgba(128, 128, 128, 0.7) !important;
    bottom: 8% !important;
    left: 20% !important;
}

.video2 {
    width: 100% !important;
    height: 100% !important;
    max-width: 60%;
    max-height: 50%;
    top: 10% !important;
    left: 18% !important;
}

.userlogo,
.userlogoimg {
    max-height: 35px !important;
    max-width: 50px !important;
}


.footer-main,
.text-light1 {
    color: rgba(255, 255, 255, 0.7) !important;
}

.collbt,
.collapse,
.collapsing {
    background-color: rgb(53, 51, 51) !important;
}

.ps,
.pd {
    font-size: 85% !important;
    margin: 0 !important;
}


.Carouselp {

    max-height: 70vh;
}

.scroll {
    position: fixed !important;
    bottom: 0.5rem !important;
    right: 0.5rem !important;
    animation: fadeIn 700ms ease-in-out 1s both !important;
    cursor: pointer !important;
    z-index: 99;
    text-align: center !important;
    background-color: #0a0a0a !important;
    color: white !important;
    margin-right: 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    max-height: 40vh;
    scroll-behavior: smooth;
    overflow-y: hidden;

}

.card {

    width: 180px !important;
    /* height: 35%; */
    flex-wrap: nowrap;
    flex-shrink: 0;
    margin-right: 10px;

}

.img-l,
.card:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    /* transform: scaleY(1.1); */
    transition-timing-function: ease-in;
    transition-timing-function: scale 1s ease-in-out;
}

@keyframes transform {}

.moviedeailsimg {
    max-height: 90vh !important;
    width: 100%;
    min-height: 50vh;

}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

/*
.scrolling-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(136, 127, 127, 0.61);
    border-radius: 10px;
}



.scrolling-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.199);
    -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}

.scrolling-wrapper::-webkit-scrollbar-button {

    background-color: #ffffff21;
} */

.ulheader {}



.arrowl {
    /* left: 10px; */
    /* top: 48%; */
    height: 87%;

}


.arrowr {
    /* right: 0px; */
    right: 0;
    top: 13%;
    height: 87%;

}

.arrowl:hover {
    cursor: pointer;
    background-color: #0a0a0ab7;
    transform: scale(1, 1);
}

.arrowr:hover {
    cursor: pointer;
    background-color: #0a0a0abd;
    transform: scale(1, 1);
}

.arrowlm {
    height: 108%;

}

.arrowrm {
    /* right: 0px; */
    right: 0;
    /* top: 1%; */
    bottom: 0;
    height: 108%;

}

.arrowlm:hover {
    cursor: pointer;
    background-color: #0a0a0ab7;

}

.arrowrm:hover {
    cursor: pointer;
    background-color: #0a0a0abd;

}




.imgdetails {
    top: 0;

    height: 100%;
    padding-top: 12%;
    padding-left: 4%;
    /* background-color: #0a0a0aad; */
    background-image: linear-gradient(to right, #0a0a0afb, #0a0a0acb, #0a0a0ab2, #0a0a0ab2, #0a0a0a7a, #27262600);

}

.text-plot {
    color: rgb(212, 207, 207);
}